.movie-container {
  border-bottom: 1px solid grey;
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  font-size: 15px;
}

.specialities {
  font-style: italic;
}

.movie-name {
  padding: 20px 0;
}

.highlight {
  font-weight: bold;
  color: aquamarine;
}

.main-movie-text {
  flex: auto;
  padding-right: 15px;
  position: relative;
}

.movie-name-prefix,
.movies-extra-details > div {
  font-weight: 600;
  padding-right: 10px;
}

.movies-extra-details > div > span {
  padding-left: 5px;
  font-style: italic;
  font-weight: 400;
}

.movies-extra-details {
  display: flex;
  justify-content: space-between;
}

.movie-main-image {
  height: fit-content;
}

.movies-icons {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

@media only screen and (max-width: 880px) {
  .movie-container {
    justify-content: unset;
    flex-flow: wrap-reverse;
  }
  .movie-container > img {
    width: 100px;
  }
  .main-movie-text {
    padding-top: 15px;
  }
  .movies-icons {
    margin-top: 20px;
    position: inherit;
    bottom: auto;
  }
  .movies-extra-details {
    display: block;
  }
  .movie-container {
    padding: 20px 0;
  }
}
