.clear-filters {
  padding: 10px;
  background-color: cadetblue;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
