.app {
  width: 60%;
  margin: auto;
  color: white;
  height: min-content;
  padding-bottom: 5%;
}

.title {
  text-align: center;
}

.main-content {
  padding: 0 5%;
  color: #fff;
}

.disclaimer-container {
  padding: 5% 5% 1% 5%;
}

.no-results {
  padding: 0 5%;
  color: grey;
  font-size: 0.8em;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 20px;
}

.movie-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 65px;
  border-radius: 30px;
  margin-right: 10px;
}

/* Just some color boxes to make the page longer */
.box {
  width: 100%;
  height: 80vh;
  margin: 30px 0;
}

.msg-icn {
  /* display: inline-block; */
  position: relative;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  max-width: 300px;
  min-width: 80px;
  min-height: 38px;
  float: right;
}
.msg-icn:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #e5a002;
  border-radius: 2px;
  box-sizing: border-box;
  clip-path: polygon(
    0% 105%,
    0% 0%,
    105% 0%,
    105% 105%,
    43px 105%,
    43px 80%,
    21px 80%,
    21px 105%
  );
}
.msg-icn:after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 20px;
  background: #e5a002;
  top: calc(100% - 1px);
  left: 20px;
  box-sizing: border-box;
  clip-path: polygon(
    0 0,
    0% 100%,
    100% 0%,
    calc(100% - 2px) 0,
    1px calc(100% - 2px),
    1px 0
  );
}

.movie-nav-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-nav > a {
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  background-color: cadetblue;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: black;
}

@media only screen and (max-width: 880px) {
  .app {
    width: 90%;
  }
  .main-content {
    padding: 0;
  }

  .msg-icn {
    display: none;
  }

  .movies-nav > a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1050px) {
  .msg-icn {
    display: none;
  }
}

@media only screen and (min-width: 1850px) {
  .msg-icn {
    margin-top: 30px;
  }
}
