.app {
  width: 60%;
  margin: auto;
  color: white;
  height: min-content;
  padding-bottom: 5%;
}

.title {
  text-align: center;
}

.main-content {
  padding: 0 5%;
}

.disclaimer-container {
  padding: 5% 5% 1% 5%;
}

.no-results {
  padding: 0 5%;
  color: grey;
  font-size: 0.8em;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 20px;
}

.movie-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 65px;
  border-radius: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 880px) {
  .app {
    width: 90%;
  }
  .main-content {
    padding: 0;
  }
}
